<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.198.215.21</MSDeployServiceURL>
    <DeployIisAppPath>preprod-events.arkia.co.il/icpas2023</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>infosys</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ArkiaOracleRead" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lugh:1521/test2;User Id=an_events;Password=an_events;Pooling=true;Min Pool Size=3;Max Pool Size=100;Incr Pool Size=3;Decr Pool Size=1;Connection Timeout=160;Connection Lifetime=300;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ArkiaOracleRead_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=lugh:1521/test2;User Id=an_events;Password=an_events;Pooling=true;Min Pool Size=3;Max Pool Size=100;Incr Pool Size=3;Decr Pool Size=1;Connection Timeout=160;Connection Lifetime=300;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ArkiaSqlRead" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.30.0.56;Initial Catalog=ArkiaEventsNew;Integrated Security=False;User ID=arkia_events;Password=events1234;Asynchronous Processing=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ArkiaSqlRead_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=172.30.0.56;Database=ArkiaEventsNew;User ID=arkia_events;Password=events1234;Trusted_Connection=False;Connection Timeout=30;Asynchronous Processing=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ArkiaOracleRead-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ArkiaSqlRead-Web.config Connection String" />
  </ItemGroup>
</Project>