<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ArkiaSqlRead" connectionString="Server=172.30.0.56;Database=ArkiaEventsNew;User ID=arkia_events;Password=events1234;Trusted_Connection=False;Connection Timeout=30;Asynchronous Processing=true" providerName="System.Data.SqlClient"/>
    <add name="ArkiaOracleRead" connectionString="Data Source=lugh:1521/test2;User Id=an_events;Password=an_events;Pooling=true;Min Pool Size=3;Max Pool Size=100;Incr Pool Size=3;Decr Pool Size=1;Connection Timeout=160;Connection Lifetime=300;" providerName="Oracle.DataAccess"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="ArkiaSqlRead" connectionString="Server=172.30.0.59;Database=ArkiaEventsNew;User ID=arkia_events;Password=events1234;Trusted_Connection=False;Connection Timeout=30;Asynchronous Processing=true" providerName="System.Data.SqlClient"/>
    <add name="ArkiaOracleRead" connectionString="Data Source=moriggan.arkia.co.il/PROD2;User Id=an_events;Password=an_events;Pooling=true;Min Pool Size=3;Max Pool Size=100;Incr Pool Size=3;Decr Pool Size=1;Connection Timeout=160;Connection Lifetime=300;" providerName="Oracle.DataAccess" />
  </connectionStrings>-->
  <appSettings>
    <add key="EventId" value="363"/>
    <add key="MaxCompanions" value="6"/>
    <add key="APPFolfer" value="icpas2023"/>
    <add key="HttpsPort" value="443"/>
    <!-- ============== Cache Duration ============= -->
    <add key="CMS" value="0"/>
    <!--1440-->
    <add key="PRD01" value="5"/>
    <add key="PRD03" value="5"/>
    <add key="PRD05" value="5"/>
    <add key="IsProd" value="False"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <sessionState mode="InProc" cookieSameSite="None" cookieless="false" />
    <globalization culture="he-IL" uiCulture="he-IL"/>
    <machineKey decryptionKey="C86AA8BA1450208BEF74436274C83B15D4D2819D39881073" validationKey="3CBDF6B0608BD769CF7F496E78FE0B8FF77234F61FA2350FE69686850B1ED9DF4C2639B18C73315731D48D3F6F7D83E722EE34633A1E3CDF41881D0A9CC0A6EF" validation="SHA1"/>

    <httpCookies sameSite="None" requireSSL="true"/>

    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
    <rewrite>
      <outboundRules>
        <preConditions>
          <!-- Checks User Agent to identify browsers incompatible with SameSite=None -->
          <preCondition name="IncompatibleWithSameSiteNone" logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="(CPU iPhone OS 12)|(iPad; CPU OS 12)" />
            <add input="{HTTP_USER_AGENT}" pattern="(Chrome/5)|(Chrome/6)" />
            <add input="{HTTP_USER_AGENT}" pattern="( OS X 10_14).*(Version/).*((Safari)|(KHTML, like Gecko)$)" />
          </preCondition>
        </preConditions>

        <!-- Adds or changes SameSite to None for the session cookie -->
        <!-- Note that secure header is also required by Chrome and should not be added here -->
        <rule name="SessionCookieAddNoneHeader">
          <match serverVariable="RESPONSE_Set-Cookie" pattern="(.*ASP.NET_SessionId.*)" />
          <!-- Use this regex if your OS/framework/app adds SameSite=Lax automatically to the end of the cookie -->
          <!-- <match serverVariable="RESPONSE_Set-Cookie" pattern="((.*)(ASP.NET_SessionId)(=.*))(?=SameSite)" /> -->
          <action type="Rewrite" value="{R:1}; SameSite=None; Secured=true" />
        </rule>

        <!-- Removes SameSite=None header from all cookies, for most incompatible browsers -->
        <rule name="CookieRemoveSameSiteNone" preCondition="IncompatibleWithSameSiteNone">
          <match serverVariable="RESPONSE_Set-Cookie" pattern="(.*)(SameSite=None)" />
          <action type="Rewrite" value="{R:1}" />
        </rule>
      </outboundRules>
      <globalRules>
        <rule name="Redirect to HTTPS" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{HTTPS}" ignoreCase="true" matchType="Pattern" negate="false" pattern="OFF" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
        </rule>
      </globalRules>
    </rewrite>
  </system.webServer>

  <log4net configSource="Configuration\log4net.config"/>
</configuration>
